{% extends 'base.html' %}
{% block content %}

<form action="" method="POST">
        <p>USERNAME
        <input type="text" name="username" />
        </p>

    <p>Password
    <input type="password" name="password" id="myInput" />
    <input type="checkbox" onclick="myFunction()">Show Password
    </p>
    <p>Email
        <input type="Email" name="email" />
        </p>
        <p> 
        <button type='submit' name="submit">
          Submit
        </button>
        
        </p>
        <a href="/register">Register Here....</a>
        <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
                
              }
            }
        </script>
</form>
{% endblock %}
